@#parties-@
@name@ has a minimum age of @min_age-@
@% This comment is between two lines that will be turned
   into one line because of the whitespace trimming with -
   Notice the indent in the line after after this, otherwise
   the min_age and the word "and" would be right next to each
   other -@
 and has a $ @-cost | money@ cover charge.
@#?guest_list-@
  Guest list:
  @-#guest_list-@
    @name@
  @-/guest_list-@
@/guest_list-@
@#!guest_list-@
  No guests have signed up.
@/guest_list-@
@/parties-@

Email joe.blow@@parties.com
